<template>
    <card class="flex flex-col items-center justify-center">
        <div class="px-3 py-3">
            <digital-clock :blink="card.blink" :withSeconds="card.withSeconds" />
        </div>
    </card>
</template>

<script>
import DigitalClock from "vue-digital-clock";
export default {
    props: ['card'],
    components: {
        DigitalClock
    },

    mounted() {
        //
    },
}
</script>
